@page
@model RazorPagesMovie.Pages.Tableau.NameModel
@{
    ViewData["Title"] = "Name";
}

<h2>Name</h2>

<script type='text/javascript' src='https://dub01.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1540px; height: 646px;'><object class='tableauViz' width='1540' height='646' style='display:none;'><param name='host_url' value='https%3A%2F%2Fdub01.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;biexample' /><param name='name' value='Name&#47;Name' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='filter' value='iframeSizedToWindow=true' /></object></div>